.loginContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: 'Funnel Sans', sans-serif;

  .leftSection, .leftContainer {
    flex: 1;
    background-color: #2e2e2e;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 4rem;
    font-weight: bold;

    h1 {
      font-size: 4rem;
      color: #ffa500;
    }

    p {
      font-size: 1.2rem;
      text-align: center;
      margin-top: 1rem;
      color: #ddd;
    }
  }

  .rightContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .formContainer {
    width: 80%;
    max-width: 400px;
    background: #1e1e1e;
    color: #fff;
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    h2 {
      font-size: 1.8rem;
      margin-bottom: 1.5rem;
    }

    .inputContainer {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 0.3rem;
        color: #ccc;
      }

      input {
        padding: 0.75rem;
        border-radius: 6px;
        border: 2px solid transparent;
        background-color: #2c2c2c;
        color: #fff;

        &:focus {
          border-color: #ffa500;
          outline: none;
        }
      }
    }

    .checkbox {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      label {
        color: #ccc;
      }
    }

    button {
      background-color: #ffa500;
      color: #fff;
      padding: 0.75rem;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-weight: bold;
      transition: all 0.3s;

      &:hover {
        opacity: 0.9;
        transform: scale(1.02);
      }
    }

    p {
      margin-top: 1rem;
      color: #ccc;

      span {
        color: #ffa500;
        margin-left: 0.3rem;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}
